.css-9mgopn-MuiDivider-root {
    margin: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    border-width: 0;
    /* border-style: solid; */
    border-color: rgba(0, 0, 0, 0.12);
    border-bottom-width: none;
}
.logoImg{
    width: 40px;
    height: 40px;
    margin-left: 14px;
    margin-top: 18px;
}
.css-1p823my-MuiListItem-root {
    padding-left: 23px;
    /* padding-right: 26px; */
}
.css-h4y409-MuiList-root {
 
    padding-top: 72px;
  
}